<% if @time_entries.count > 0 %>
  <div id="issue_timelog">
    <% @time_entries.each do |entry| %>
      <div id="timelog-<%= entry.id %>" class="<%= cycle('odd', 'even') %>">
        <div>
          <b>
            <%= format_date entry.spent_on %>:
            <%= l_hours entry.hours %></b> &mdash; <%= h entry.activity.name %>.
            <%= authoring entry.created_on, entry.user %>

          <% if entry.editable_by?(User.current) -%>
            <span style="float: right; overflow: hidden;">
              <%= link_to image_tag('edit.png'), {:controller => 'timelog', :action => 'edit', :id => entry, :project_id => nil},
                                                  :title => l(:button_edit), :style => 'border-bottom-style: none;' %>
              <%= link_to image_tag('delete.png'), {:controller => 'timelog', :action => 'destroy', :id => entry, :project_id => nil},
                                                   :confirm => l(:text_are_you_sure),
                                                   :method => :delete,
                                                   :title => l(:button_delete),
                                                   :style => 'border-bottom-style: none;' %>
            </span>
          <% end -%>
        </div>
        <div><%= h entry.comments %></div>
      </div>
    <% end %>
  </div>
<% end %>